name: Maven

on:
  push:
    branches: [ main ]
    paths:
      - "ports/java/**"
      - ".github/workflows/maven.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "ports/java/**"
      - ".github/workflows/maven.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Unit Test
        working-directory: ${{github.workspace}}/ports/java
        run: mvn test
      - name: Package
        working-directory: ${{github.workspace}}/ports/java
        run: mvn package
